<!--person/memories form partial; requires variable 'memory'-->
<%= form_for [:person, memory] do |f| %>
	<!--Ghost Content-->
	<div id="ghost_content_area">
		<!--Content replaced by JS-->
	</div>

	<br>
	
	<!--Content-->
	<div id="content_area">
		<%= f.text_area :content, id: "content_text_area", placeholder: "What happened?" %>
		<div id="character_indicator">
			<!--Content replaced by JS-->
		</div>
	</div>

	<!--Button Area-->
	<div id="buttons">
		<%= f.submit "[_]", id: "submit_memory_button", class: "button" %>
	</div>
	
	<!--Time Frames-->
	<div id="time_frames_area">
		<div id="time_frames_form">
				<ul id="list">
				<%= f.fields_for :time_frames do |builder| %>
					<%= render :partial => "person/time_frames/partials/time_frame_fields", :locals => { :f => builder } %>
			  <% end %>
				<%= link_to_add_fields "add time frame", f, :time_frames, "person/time_frames/partials/", ".fields" %>
				</ul>
		</div>
	</div>
	
<% end %>