<!--person/memories form partial; requires variable 'memory'-->
<%= form_for [:person, memory] do |f| %>
	<!--Content-->
	<div id="content_area">
		<%= f.label :content %><br>
		<%= f.text_area :content %>
	</div>

	<!--Time Frames-->
	<div id="time_frames_area">
		<label>Time Frames</label>
	
		<div id="time_frames_form">
			<div id="time_frames_forms_list">
				<ul id="list">
				<%= fields_for :time_frames do |builder| %>
			    <li><%= render "person/time_frames/partials/time_frames_form", :f => builder %></li>
			  <% end %>
				</ul>
			</div>
		</div>
	</div>
	
	<!--Button Area-->
	<div id="buttons">
		<%= f.submit "[_]", id: "submit_memory_button" %>
	</div>
<% end %>