<!--person/memories/index-->
<div id="memory_index">
	
	<div id="timelines">
		<% TimeFrame.all.sort.each do |time_frame| %>
			<div title="<%= time_frame.representation %>" id="time_frame_<%= time_frame.id %>_<%= time_frame.length %>_<%= time_frame.days_ago %>" class="timeline"
				style="display:none">
				
				<div class="keys"><%= time_frame.memory_ids %></div>
			</div>
		<% end %>
		<div id="time_frame_words"><br>t<br>i<br>m<br>e<br>f<br>r<br>a<br>m<br>e<br>s</div>
		<div id="life_time_frame" class="life_timeline" style="display:none"></div>
	</div>
	
	<!--memory.time_frames.each?-->
	<div id="memories">
		<% @memories.each do |memory| %>
			<div id="memory_<%= memory.id %>" class="memory">
				<%= render :partial => "person/memories/partials/memory_block", :locals => { :memory => memory } %>
			</div>
		<% end %>
	</div>
	
	
</div>