<!DOCTYPE html>
<html>
<head>
  <title>Memorymap</title>
	
	<!--Blueprint stylesheets-->
	<%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
	<!--[if IE]><%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %><![endif]-->

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<meta name="description" content="Encouraging thought, understanding, and appreciation." />
  <meta name="keywords" content="life, memories, understand, appreciate, enjoy, love, thoughtful, memorable, happy, human, experience" />
</head>
<body>

	<div id="header" class="container">
		
		<div id="inner_header" class="container">
			<div id="left_area" class="span-8">
				<%= link_to "m e m o r y m a p", '/', class: "faded_button" %>
			</div>
			
			<div id="middle_area" class="span-8">
				<%= link_to "+", new_person_memory_path, class: "faded_button" %>
			</div>
			
			<div id="right_area" class="span-8 last">
				<%= link_to "a c c o u n t", '/', class: "faded_button" %>
			</div>
		</div><!--End inner header-->
		
	</div>
	
	<div id="central" class="container">
		<%= yield %>
	</div>

	<div id="footer">
		
	</div>
	
</body>
</html>
